.about-item {
    width: 800px;
    margin: auto;
    &-title {
        margin-top: 5px;
    }
    .label-title {
        margin-bottom: 15px;
    }
    &-container {
        width: 300px;
        margin-top: 15px;
        display: inline-block;
        @media (max-width: $almostIphoneX) {
            margin-top: 0px;
        }
    }
    &-description {
        color: $descriptionColor;
    }
    &-img-container {
        .coreImage {
            width: 200px;
            height: 200px;
        }
        @media (max-width: $almostIphoneX) {
            width: auto;
        }
    }
    &:after {
        content: '';
        height: 100px;
        bottom: 0px;
        background: $descriptionColor;
        width: 0.1rem;
        display: block;
        margin: 0 auto;
    }
    @media (max-width:$almostIphoneX) {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: auto;
        text-align: center;
    }
}