.expertice-item {
    display: flex;
    margin-top: 30px;
    @media (max-width: $large-tab) {
        margin-top: 20px;
    }
    .text-container {
        .title-sub {
            margin-bottom: 5px;
            font-weight: bold;
        }
    }
    .img-container {
        padding-right: 10px;
    }
}