.triangle-div{
    width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 50px solid black;
}


.about-container{
    width: 1714px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    
    .help-box{        
        display: flex;
        color: gray;
        .text-container{
            &.children{
                margin-left:20px;
            }

            &.animal{
                margin-right:20px;
            }            
           
            .title{
                font-size: 3rem;
        font-weight: 800;
        margin-bottom: 20px;
        
            }

            .description{
                font-size: 2rem;

            }

            p{
                margin-bottom: 10px;
            }
        }

        
    }
}