.footer-container {

    background: #403939;
    display: flex;
    justify-content: space-between;        
    flex-direction: column;
    padding: 20px;

      


    .logo-container {
        display: table;  

        img{
            display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 10px;
        }
    }


    .social-container{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;


        .social-button{
            background: orangered;
            border: none;
            margin: 2px;
        }

    
    }

   

    .copy-container{
        text-align: center;
        color: white;
    }


   
}