.services {
    .core-items-container {
        background: white;
        display: flex;
        padding: 50px;
        justify-content: space-around;
        flex-wrap: wrap;
        .item-container {
            width: 25%;
            margin: 0;
            text-align: center;
            .img-container {
                margin-bottom: 10px;
                .coreImage {
                    display: inline-block;
                    padding: 10px;
                    height: 100px;
                    width: 100px;
                }
            }
            .title-sub {
                font-weight: bold;
            }
            @media (max-width:650px) {
                width: 100%;
            }
        }
    }
}